<div>
   <%= render 'user', user: @user %>
</div>
<div>
  <h1>Users</h1>
  <table>
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th colspan="3"></th>
      </tr>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <tb><%= image_tag user.get_profile_image(100,100) %></tb>
          <tb><%= user.name %></tb>
          <tb><%= link_to "Show", user_path(@user) %></tb>
        </tr>
        <% end %>
      </tbody>
    </thead>
  </table>
</div>