<div>
  <div>
    <div>
      <h1>welcome to <strong>Bookers</strong> !!</h1>
      <p>In <strong>Bookers</strong>,</p>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>

      <p>about various books!</p>

     <div>
      <div><%= link_to "login", new_user_session_path %></div>
      <div><%= link_to "sign up", new_user_registration_path %></div>
     </div>
    </div>
  </div>
</div>